{{- if (and (hasKey .chezmoi.osRelease "name") (eq .chezmoi.osRelease.name "NixOS")) }}
alias logseq_sync="NOTES_FOLDER={{ .chezmoi.homeDir }}/ghq/github.com/zhaochunqi/MyLifeRecorded {{ .chezmoi.homeDir }}/ghq/github.com/zhaochunqi/MyScripts/bashscript/2-git-sync.sh"
alias open="xdg-open"
{{- end }}
{{- if eq .chezmoi.os "linux" }}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
alias logseq_sync="NOTES_FOLDER=/mnt/c/Users/zhaochunqi/ghq/github.com/zhaochunqi/MyLifeRecorded /home/zhaochunqi/ghq/github.com/zhaochunqi/MyScripts/bashscript/2-git-sync.sh"
alias open="explorer.exe"
{{-   end }}
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
alias logseq_sync="NOTES_FOLDER={{.chezmoi.homeDir }}/ghq/github.com/zhaochunqi/MyLifeRecorded {{ .chezmoi.homeDir }}/ghq/github.com/zhaochunqi/MyScripts/bashscript/2-git-sync.sh"
alias compress_image='python {{.chezmoi.homeDir }}ghq/github.com/zhaochunqi/MyScripts/python/3-compress-images.py'
{{- end }}

alias logseq_youtube_timestamp="{{ .chezmoi.homeDir }}/ghq/github.com/zhaochunqi/MyScripts/bashscript/9-youube-logseq-timestamp.sh"

if [[ "$TERM" =~ ^kitty && -z "$ZELLIJ_SESSION_NAME" ]]; then 
    ssh() { 
        kitty +kitten ssh "$@" 
    } 
fi

alias k=kubectl

function kx() {
    local items=$(kubectx)
    local selected_context=$(echo $items | fzf --query "$LBUFFER")

    if [ -n "$selected_context" ]; then
        kubectx $selected_context
    fi
}

# yt-dlp
alias yt="yt-dlp"
